<h1>Create a new Campground</h1>
<% include partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Create a new campground</h1>
        <div style="width:30%; margin: 40px auto;">
            <form action="/campgrounds" method="POST">
                    <input class="form-control" type="text" name="name" placeholder="name"></input>
                    <input class="form-control" type="text" name="image" placeholder="image url"></input>
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </form>
            <a href="/">Go Back</a>
        </div>
    </div>
</div>
<% include partials/footer %>